parameters:
    temporary_folder: ~
    saving_format: "[date-year]-[date-month]-[date-day]/[identifier].[ext]"
    saving_backups_folder: ~
    amazon_s3.bucket: ~
    amazon_s3.key: ~
    amazon_s3.secret: ~
    amazon_s3.region: ~
    amazon_s3.version: ~
    ftp_host: ~
    ftp_user: ~
    ftp_pass: ~
    ftp_port: 21
    ftp_main_path: ~
